<main class="content" role="main">
    <article class="post page">
        <h1 class="post-title">
            <font>
                <font>
                    About the author
                </font>
            </font>
        </h1>
        <section class="post-content">
            <p>
                <font>
                    <font>
                        Hello,
                    </font>
                </font>
            </p>
            <p>
                <font>
                    <font class="">
                        My name is
                    </font>
                </font>
                <a href="https://www.facebook.com/ChristopherHerreraVeras">
                    <font>
                        <font class="">
                            Christopher Herrera
                        </font>
                    </font>
                </a>
                <font>
                    <font class="">
                         .
                    </font>
                    <font>
                        I am Software Developer, i have worked with java, android, go and python for more than 5 years in different IT companies, also i'm a passionate game developer and my goal is to make some fun games in the future.
                    </font>
                    <font class="">
                        In this blog i will share my experiences in the programming world and also in my way to become a Game Developer.
                    </font>
                </font>
            </p>

            <p>
                <font>
                    <font>
                        I wish you a good read, please share with me in the comments space.
                    </font>
                </font>
            </p>
        </section>
    </article>
</main>
