<main class="content" role="main">
    <article class="post page">
        <h1 class="post-title">My Contact</h1>
        <section class="post-content">
            <ul>
                <li>Facebook :
                    <a href="https://www.facebook.com/ChristopherHerreraVeras">
                        Christopher Herrera
                    </a>
                </li>
                <li>Twitter :
                    <a href="https://twitter.com/Eefret">
                        @Eefret
                    </a>
                </li>
                <li>Mail :
                    <a href="mailto:eefretsoul@gmail.com">
                        eefretsoul@gmail.com
                    </a>
                </li>
            </ul>
        </section>
    </article>
</main>
